{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<h1>
    <div style="text-align: center;">
        About
    </div>
</h1>
<body>
    <div style="width: 80%; margin: auto; line-height: 1.5; text-align: center;">
        Hello!
        I am a first-year undergraduate student majoring in Mathematics-Computer Science at University of California, San Diego.
        I have 3 years of experience with Full Stack Development.
        Having an intense passion for applied mathematics (especially linear algebra) and machine learning; I am interested in their applications (i.e. brain imaging, self-operating vehicles, viral molecular epidemiology).
        Self-studying cognitive science has been my main means to learn, and I have started seeking learning opportunities in professional settings.<br>
    </div>
</body>
{% endblock %}