{% extends 'base.html' %}

{% load static %}

{% block title %}Contact{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href='static/theme/css/styles.css'>
{% endblock %}

{% block content %}
<h1>
    <div class="centered">
        Contact
    </div>
</h1>
<body>
    <div class="centered">
        instagram: <a href="https://www.instagram.com/shawnpana/" target="_blank">@shawnpana</a><br>
        twitter: <a href="https://twitter.com/epicshan25" target="_blank">@epicshan25</a><br>
        phone number: (209)-629-0825<br>
    </div>
</body>
{% endblock %}
